[2014-02-02 18:36] Zero3 opened #1 "Use of wiki instead of files"
I like the stuff you compiled into https://github.com/loldevs/leaguespec/blob/master/doc/rest-service.md. However, this kind of information seems more suitable for the wiki functionality of Github. It would also allow for easier collaboration between the people interested - assuming that was your intent.

Maybe you would consider moving the info to the wiki?

[2014-02-02 18:58] themasch commented on #1
I had the same idea. Will do it soon™

[2014-02-02 19:36] ghost commented on #1
Hi
I read what you wronte on this page, and there is something I would like to
add.
Last August, when I tried to analyze the data (maybe it has changed since),
I noticed that, when I start spectating a game let's say after 10min of
play, I can't replay the first part of the game. Moreover, if, for
instance, I tried to download chunks number 1 or 2, I get http404 ...

Moreover, I noticed that the f

[2014-02-02 19:52] themasch commented on #1
The server seems to throw away chunks that are to old. So if you start observing to late, you cant get back to that point in the past.
I'm pretty sure @tyscorp can tell you a lot more about who the rest service works.

[2014-02-02 21:51] Divi commented on #1
@trebonius2 @themasch Chunks are not available after ~10 minutes (+/- 1 minute) and even if nobody calls the RTMP API.
The REST api chunk (getLastChunkData or Info) will give you the available chunk one minute ago (so two chunks before the current time) but more chunks are available. For featured game, chunks are saved more longer (15/20 minutes I guess, I not sure, but i'm 100% sure for normal ga

[2014-02-03 06:15] themasch commented on #1
Whooot? Rly? That would be totally broken. Will test this ASAP.

[2014-02-03 06:17] tyscorp commented on #1
https://github.com/loldevs/leaguespec/wiki/Keyframe-Specification

[2014-02-03 06:17] themasch commented on #1
here we go: https://github.com/loldevs/leaguespec/wiki/REST-Service

[2014-02-03 06:17] #1 closed, assigned to themasch

[2014-02-03 07:38] Divi commented on #1
@themasch no i'm sorry (it was late for me), it was "chunks" not keyframes. The loading chunks are available after the game starts. Usually 4/6 chunks.

[2014-02-06 14:02] themasch opened #2 "License"
We should pick a good license for this stuff.

Possible picks could be the
- [GNU FDL](https://en.wikipedia.org/wiki/GNU_Free_Documentation_License)
- [CC BY-SA](https://creativecommons.org/licenses/)
- [PDL](http://www.openoffice.org/licenses/PDL.html)

Are there any other noteable?

**ATTENTION**: This should most likly be done AFTER #3 .

[2014-02-06 14:06] themasch opened #3 "Discussion: Open or Closed"
Please discuss this.

Votings done:
**close**  (@jaagupkymmel)
**open** (@lukegb)
**open** (@themasch)
**open** (@tyscorp)
**open** (@Divi)

[2014-02-06 14:07] lukegb commented on #2
I suggest we go Wikipedia-style and dual-license GFDL/CC BY-SA. Failing that, just straight CC BY-SA suits me fine.

[2014-02-06 14:09] tyscorp opened #4 "Map Mastery IDs in Keyframes to masteryId in AIR Client"
The ones in the keyframes are completely different, ranging from like 40 to 100 or something.

The AIR mastery data can be found [here](http://ddragon.leagueoflegends.com/cdn/4.1.2/data/en_US/mastery.json).

Edit: I'd rather not do this. Someone looking for a way to help out, feel free!

[2014-02-06 14:12] tyscorp commented on #3
I'm for keeping it open source. It's not like Riot could actually shut us down. Sure, they could ask us to stop and get the repo removed or whatever, but we would still already have the knowledge.

Having said that, I would still probably comply with a C&D from Riot.

[2014-02-06 14:14] lukegb commented on #3
If we actually got a C&D from Riot we could probably just go underground if we really wanted to keep going.

Also, making the wiki private is effort and costs money.

[2014-02-06 14:28] Divi commented on #3
Even if we turn this project to closed-source, everybody will be able to access to our project by asking it. Riot included.
I just don't feel comfortable with cheaters/hackers who can use these data to learn the live game decryption workflow.

The project is developed by the community, not just by one or two people, so let it open-source.
Btw, keep a mirror of this project may be useful.

[2014-02-06 16:16] jaagupkymmel commented on #3
It seems we are keeping it open-source.

[2014-02-06 16:17] jaagupkymmel commented on #2
CC-BY-SA seems to be the best one.

[2014-02-06 17:15] Divi commented on #2
@jaagupkymmel +1.

[2014-02-07 10:55] themasch opened #5 "Length of the summoners name field"
I'm pretty sure that the length of the "Sommoner name" field is more then 16 bytes.
I inspected some south-korean games and found names like this:

Since these are 8 (resp. 7) characters in length, it should be possible to see at least twice as much bytes. For that reason I really think the summoners name field contains at least 48 bytes.
There is unknown room after the field that allows it to tak

[2014-02-07 11:43] jaagupkymmel commented on #5
Although this is probably correct and applies to turrets aswell, I think we should leave it as separated from name string, just in case.

[2014-02-07 11:55] themasch commented on #5
I added a comment so we don't forget it ;-) would like to let this issue open until we know things for sure though

[2014-02-09 15:08] Theoretical commented on #5
On the actual client names are std::string under full optimization so I'm not sure how they have them setup here.

[2014-02-09 17:54] #3 closed, assigned to nobody

[2014-02-10 16:18] Divi opened #6 "Question about hex decoding"
Hello,

I'm not familiar with the hex to decimal process. I know how to obtain a string or int value, but for a float, i'm a little bit lost.

For example, in the keyframe spec, on this unknown data bloc (https://github.com/loldevs/leaguespec/wiki/Keyframe-Specification#wiki-unknown-data-3) there are some float values, but I just don't know how you can get these values.

So if someone can explain

[2014-02-10 16:25] tyscorp commented on #6
You either do it programmatically with a function like "readFloatLE" (or pack/unpack in some scripting languages like ruby/php) or just use a [website](http://gregstoll.dyndns.org/~gregstoll/floattohex/) to do it.

Remember to put it in reverse byte order if using a website. (e.g. 93 85 30 43 -> 0x43308593)

[2014-02-10 16:35] Divi commented on #6
Thanks @tyscorp, this is why I can't find the right value with my calculator :(
Last question : how can you find the right value type (int, float, string, etc) ? We have to guess it ?

[2014-02-10 16:41] tyscorp commented on #6
Yep. I just copy+paste a portion of data into my text editor and add spaces/newlines at different points until patterns emerge and it starts to make sense. If I see XX 00 00 00 or XX XX 00 00 I usually think it's an int. If it's like groups of 4 quite different values with the last (first, I guess) byte being a 4X you can assume it's a float.

[2014-02-10 22:10] Zykloide commented on #6
By the way the line "Note: everything is in little endian." in https://github.com/loldevs/leaguespec/wiki/Keyframe-Specification#wiki-general-structure tells you that it's stored in reversed order. For more information: http://en.wikipedia.org/wiki/Endianness :)

[2014-02-11 09:21] Divi commented on #6
Thanks :)

[2014-02-11 09:21] #6 closed, assigned to nobody

[2014-02-12 18:12] jaagupkymmel commented on #4
http://pastebin.com/4FYD0yrJ

[2014-02-12 18:12] #4 closed, assigned to nobody

[2014-02-14 13:33] themasch commented on #2
Okay, so we'll pick CC-BY-SA?
@lukegb can you please explain the reasoning behind dual-license? Honestly, I never understoot that concept :(

[2014-02-14 13:40] tyscorp commented on #2
I'm fine with CC BY-SA.

[2014-02-14 16:33] lukegb commented on #2
CC BY-SA suits me. Do it! :+1:

[2014-02-15 12:25] themasch opened #7 "thinking about responsible disclosure"
Since we are working on reverse engineering technology which is used by literally millions of people, we should think about what happens when we find out on a serious security issue.
@jaagupkymmel talked about this issue ~10 days ago and suggested to make the specification private so possible leaks won't turn out into public immediately.  But we, as a community, decided to keep the specification o

[2014-02-15 12:47] #2 closed, assigned to nobody

[2014-02-15 13:13] Divi commented on #7
Like I said in the @jaagupkymmel issue, i'm not very confortable with people who want to use our data to hack/cheat. Even if we deal with spectator data, like you said, one day we can found a leak.
I'm agree with the idea to communicate with Riot and let them a chance of fixing the leak.

**There are two solutions to avoid leaking :**
- create a private repo for our commits and publish a weekly/mo

[2014-02-17 21:16] themasch commented on #7
@Divi 25$ / month because i'd like to be it in this org. I could create a single private repo but that would be in my namespace and I'd be the owner and yaddayaddayadda. I want the team to be in control, not me. If you understand what I'm trying to say..

[2014-02-18 10:53] Divi commented on #7
@themasch oh, I see, great idea :+1:

[2014-02-24 12:05] jaagupkymmel opened #8 "Parsers"
When writing parsers for non-production purposes, make sure you make them as strict as possible, to make it easier to find errors in wiki.

[2014-02-24 13:14] lukegb commented on #8
:+1:

[2014-02-24 14:36] themasch commented on #8
I totally agree with that. lol-observer is way to generous. Needs to be fixed :D

[2014-02-27 23:07] jaagupkymmel commented on #7
A "best practices" guide could be useful. There's not much we can do, except for report it to Riot, not publish it for some time and hope noone else finds it.

[2014-03-01 10:38] tyscorp commented on #8
Perhaps we should write a "reference parser" and include unit tests for everything, then run it through all featured games for every region.

[2014-03-01 10:43] tyscorp commented on #5
Apparently there "may" be a flag to change the name length, depending on charset. Not sure though.

[2014-03-01 12:52] themasch commented on #8
@tyscorp i really like this idea. We should use a language everyone understand and thats easy to work with and easy to depoly. Ideas? I'd vote for js..

[2014-03-01 13:12] tyscorp commented on #8
I'd vote for node ;)

[2014-03-01 16:02] Zero3 commented on #8
I plan on expanding https://github.com/Zero3/LolSpecAnalyzer to include a proper parser once I get some free time. It's Java.

[2014-03-02 10:02] jaagupkymmel commented on #8
The one problem that I have with JS is dynamic typing. It's harder to figure out of which type a parameter for a function should be. If you're willing to add comments about params and return types, or switch to something like http://www.typescriptlang.org/ (Never used, just Googled), which is essentially JS, but has static typing, then I guess I'll be fine with JS, even though I'd prefer Java.

@Z

[2014-03-02 10:07] jaagupkymmel opened #9 "Changes in chatroom name generation"
As some of you might know, Riot moved invitation process from XMPP to RTMP with the new patch. I recieved an email asking whether or not the party/game lobby chatroom name generation got changed aswell with that patch?

[2014-03-02 14:11] themasch commented on #8
@jaagupkymmel I understand your point even when I'm a pretty big fan of dynamic typing. But I'm 100% with you regarding comments, if we write one "standard loldev leaguespec parser" there need to be a lot of comments everywhere!

I'm not really sure about typescript because its one of these "compile to js" languages. Developing with them always feels awkward.

Personally I'd prefer C++ over Java i

[2014-03-02 22:12] Divi commented on #8
I'm clearly not good with data sniffing, but Java is often used for these uses. Fast to develop, and good objects typing. I'm ok with JS too.

[2014-03-02 22:36] jaagupkymmel commented on #8
C++ seems a bit of an overkill for such task. Looking at the codebase we have right now, we should stick to either JS or Java.

[2014-03-02 23:36] snowl commented on #9
I'll check into this - I'm fairly sure it's changed a bit. Looks like it's based on a "chatKey" now.

[2014-03-03 05:46] horato commented on #9
it looks like this "chatKey": "AXFdWPHVlr" :)

[2014-03-03 09:11] Divi commented on #9
In the RTMP API, there is a key called "roomPassword" or "roomKey" if I remember, with value like your "AXFdWPHVlr".

[2014-03-12 10:23] horato commented on #9
anything new on this?

[2014-03-12 12:52] btastic commented on #9
he edited the wiki entry just yesterday:

"For example, with the chatKey h0HrnkNvAm and invitationId INVID2137627, the room would be ag~96f56bc2e656062772f07b676e6e890c9bf5ed20@sec.pvp.net"

I'm really looking forward for more research onto this. Does somebody know how to reverse parts of the lolclient? I feel like I want to help :)

[2014-03-13 08:31] horato commented on #9
Nice, we have some progress at least ^^
https://tuts4you.com/download.php?view.2876 Try this thing. It might be usefull for you.

[2014-03-30 17:09] themasch commented on #8
Okay, should we put the parser inside this repo (since the documentation is in the wiki anyway) or should we create a new one?

[2014-03-30 21:25] jaagupkymmel commented on #8
I think we should have a seperate one.

[2014-04-01 22:08] vafrederico commented on #8
I think we should put it in this one, since the parser will be directly related to the wiki.

By the way, i have a parser written in Python. In case anyone need it.

[2014-04-02 05:11] themasch commented on #8
Maybe we could just prepare some structured language-agnostic test data and provide multiple implementations ins various languages. Every one of them tested against the same set of tests.

[2014-04-09 08:59] toulouse commented on #8
More importantly, can we have a test set of data to write parsers against? I'm interested in writing a parser, myself, but can't find *.rofl files, and the PBE seems to be broken and disallowing replay downloads.

EDIT: Er. What @themasch said.

[2014-04-12 06:42] vafrederico commented on #8
I have three replays saved, already decrypted. And i could download a few more.
Where should I commit them? In this repo, or we will have another repo for parsers?

[2014-04-12 08:24] Divi commented on #8
I don't think that commit decrypted file is a good idea. But you can add links to pastebin or gist to your decrypted files in the wiki.

[2014-04-14 06:28] themasch commented on #8
I think we should create a parser-spec repo & collect some inputs & expected outputs decoupled from  full files. Does someone know a good format for language agnostic tests? I'd suggest base64 encoded input & json output but we need to agree over a meta format.

[2014-04-14 08:25] Divi commented on #8
Json is understood by all languages (with libs or not) and can be easily read by developpers : :+1:

[2014-06-02 19:25] eddy5641 opened #11 "Accepting a game"
Service Name: lcdsGameInvitationService
Method Name: accept
String InvitationId (looks like INVID158928100)
Returns: LobbyStatus

[2014-06-03 09:53] Divi commented on #11
Hello @eddy5641,

Thanks for this missing method. The string `invitationId` is the method parameter ?

[2014-06-03 23:48] eddy5641 commented on #11
Yes invitationId is the Parameter
also declining a game is the same except the method name is decline

[2014-06-04 10:53] Divi commented on #11
Thanks @eddy5641, added :+1:

[2014-06-04 10:53] #11 closed, assigned to nobody

[2014-06-16 09:53] Divi opened #12 "Riot releases new data, need to compare with our keyframe/chunk specs"
See :
- https://acs.leagueoflegends.com/v1/stats/game/NA1/1414415714/
- https://acs.leagueoflegends.com/v1/stats/game/NA1/1414415714/timeline

We can compare data with the last keyframe of the game and found some of unknown parts.

More information here : https://github.com/loldevs/leaguespec/wiki/Lobby-REST-Service

[2014-06-16 11:34] jaagupkymmel commented on #12
Can those be queryed before the game ends?

[2014-06-16 11:41] Divi commented on #12
Like I said in the wiki after the `gameId` parameter : no

[2014-06-16 15:05] themasch commented on #12
Wow, this is huge. We should compare those results and check if we can test parsers against this & use this data (for example coords) to find out more information in keyframes. nice find!

[2014-06-16 22:27] Divi commented on #12
Here we go, first review, I put it here because I'm not sure about data, I need more verifications with more keyframes :

---

A3 00 28 01
00 00 45 00
28 01 00 00  // 296
06 00 00 00  // 6 - assists
00 00 00 00  // 0
07 00 00 00  // 7 - kills
0F 00 00 00  // 15 - `killing spree ?`
01 00 00 00  // 1 - `doubleKills ?`
00 00 00 00  // 0 - `tripleKills ?`
00 00 00 00  // 0 - `quadraKills ?`
00 00 00 0

[2014-06-17 06:05] themasch commented on #12
Yay, nice work @Divi. :+1:

[2014-06-17 06:25] themasch commented on #12
Wow, I just saw that the timeline even contains kill-events like these:

[code]

This is huge, maybe we can even use this for information in chunks. RIOT I <3 U

[2014-06-17 08:41] Divi commented on #12
How about to replace the current "unknown data" part with an array, like this :

| Offset | Hex | Length | Value | Description |
| --- | --- | --- | --- | --- |
| 0x00 | 01 00 00 00 | 0x04 | 1 | Foo bar |
| 0x04 | 09 00 | 0x02 | 9 | Bar foo |

I think it's most readable.

[2014-06-17 08:47] jaagupkymmel commented on #12
I think that's a great idea.

[2014-06-17 08:57] Divi commented on #12
I'll replace the part this week-end if nobody is against this idea.

[2014-06-17 09:08] themasch commented on #12
:+1:

[2014-06-17 19:08] Zero3 commented on #12
:+1:

[2014-06-17 19:13] lukegb commented on #12
:+1: Sounds good to me!

[2014-06-17 19:22] Zero3 commented on #8
Regarding my comment @ 01-03-2014: Exams are almost over, so I've started my work on a proper parser. I've piggybacked on the downloader by @jaagupkymmel (https://github.com/loldevs/lol-spec) to fetch and decrypt all keyframes for a game which worked great. So I have a test game to work with now.

My plan so far is to import keyframes from disk, parse them into Java objects and output the data in

[2014-06-17 21:54] Divi commented on #8
Good luck for the end of your exams :)
Great idea about output formatter. For the input, maybe you should create an input which parse a keyframe directly from an URL, without downloading the keyframe (on the disk), for people who don't want to keep the keyframe.

[2014-06-18 06:12] themasch commented on #8
Do you guys think its a good idea to agree on a standard output format for keyframes and chunk? Like a JSON schema?

[2014-06-18 06:16] jaagupkymmel commented on #8
Yeah, JSON seems the way to go.

[2014-06-18 06:37] akuseru commented on #8
I would recommend trying to match the `/timeline` endpoint shown in #12, while more data could be made available it would allow for some degree of switching out the official api with the custom data without too much effort.

[2014-06-18 06:41] themasch commented on #8
That sounds reasonable. do we know if all informations from that timeline
exist in key frames, too?

[2014-06-18 08:42] Divi commented on #8
I think all data are in keyframes except the `events` part which are in chunks. There is no string like `WARD_PLACED`, etc, in keyframes.

The output should be the same as the timeline, with data from https://acs.leagueoflegends.com/v1/stats/game/NA1/1414415714, particularly the part `['participants'][n]['stats']`.

I'll check this week-end if another data are available.

[2014-06-21 13:28] Divi commented on #12
Wiki updated :+1:

[2014-06-21 13:28] #12 closed, assigned to nobody

[2014-06-22 08:39] akuseru commented on #8
@Divi events are available in the keyframes. Just because it's missing WARD_PLACED doesn't mean that the information is not there.

`SightWard` `YellowTrinket` do show up in the data.

[2014-06-22 10:18] Divi commented on #8
I just took WARD_PLACED as example, I didn't find anything about kill or
death. Maybe I miss something if you found a part talking about wards, I'll
check this tonight.

[2014-06-26 17:34] frostycpu opened #13 "Splitting RTMP Service Methods into separate pages for each service?"
Would it be a good idea to split https://github.com/loldevs/leaguespec/wiki/RTMP-Service-Methods into multiple pages?

[2014-06-27 09:46] Divi commented on #13
I don't think so, the page is not too long. And the best advantage is that someone can copy/paste the whole page in a few second, cloning the repository is not needed.

[2014-06-27 10:57] jaagupkymmel commented on #13
I think the best way would be to split it into multiple pages, but retain one parent page, which would include the basic description of its methods (the tables) as well as links to each services' page.

[2014-06-27 12:09] Divi commented on #13
Tables may be desynchronized (the table must be duplicated) if someone forget to update the main page, or the dedicated page.

[2014-07-02 10:34] Divi opened #14 "Since 4.10, it seems "deaths" are shifted in a some games"
In some games, deaths are shifted or just deleted.
I will search why tonight.

[2014-07-02 22:39] Divi commented on #14
It's appear there are two distinct versions of keyframe. One with values listed on the keyframe spec, from `total minions killed` to `deaths` and one other without any data between `total minion killed` and `deaths`, only `0x08 + 0x04` of padding.

I don't know where are the two missing data.

[2014-07-03 17:55] Divi commented on #14
Well, I found the problem, on the map without jungle (and minion jungle) like ARAM or DOMINION, the two data : `Neutral minnions killed in enemy jungle` and `Neutral minions killed in team jungle` are not present.

I'll add a note for these two items.

[2014-07-03 17:55] #14 closed, assigned to nobody

[2014-07-05 20:22] Divi opened #15 "First offset of ability & item header parts are now dynamic (4.11)"
First offset of ability & item header parts are now dynamic, I found more than 5 new offsets while running ~20 games on Summoner Rift & ARAM maps.

For item header part, it's not very important because the header has a long static ending (`FE 00 0C 01`), but the ability header static ending is very short (`03 15`), so we can't find the header without parsing the first next offsets, here an example

[2014-07-06 20:29] frostycpu commented on #13
I think desynchronization shouldn't be that big of an issue. I'd really like to add some more information to the page but it's tedious right now to add anything to that big page. jaagupkymmel's suggestion is pretty good in my opninion.

[2014-07-07 08:59] Divi commented on #13
I didn't think about new data, :+1: then :)

[2014-07-07 13:01] Valandur commented on #13
+1 for this, although some pages might have barely any content...

[2014-07-07 22:37] eddy5641 commented on #9
Using a SHA1 decrypter and inputting in:
"96f56bc2e656062772f07b676e6e890c9bf5ed20"
Gives this:
invid2137627

[2014-07-14 15:29] Zero3 opened #16 "Figure out the meaning of the unknown bytes in keyframe headers"
According to the wiki, keyframe headers look as follows:

03 XX XX XX     // Timestamp, in seconds, as float
XX 02 00 00
00 61 00 00
00 00 00 00

We should try to figure out what the remaining bytes (that is, everything but the timestamp) mean. The initial 03 is probably either a magic number, a version number or a packet type identifier.

[2014-07-14 15:44] Zero3 opened #17 "Figure out the meaning of marker #1 in player and turret segments"
The player segment wiki page states the following about player segment headers:

---

[code]
- **Marker #1** : can be `0x93` or `0xB3`

---

Similarly, the turret segment wiki page states:

---

[code]
- **Marker #1** is `0x93` for first turret and `0xB3` for any other

---

Perhaps `0x93` indicates the start of a new type of segments (player / turrets) and `0xB3` indicates another segment of same

[2014-07-15 12:45] Valandur commented on #13
I moved the first five services into their own pages. Waiting for feedback now, if it's good I guess we can move the rest aswell.
We'll still have to think about what we want on the parent page, and what not.

[2014-07-15 14:08] jaagupkymmel commented on #13
Looks good!

[2014-07-15 14:36] frostycpu commented on #13
Ya looks good so far =]

[2014-07-15 21:25] eddy5641 commented on #9
Looked into it, INVID2137627 is changed to invid2137627 and hashed with the SHA1
This outputs "96f56bc2e656062772f07b676e6e890c9bf5ed20" and the prefix "ag~" and the sufix "@sec.pvp.net" is attached. The chatKey is the password to join the room.

[2014-07-19 16:35] jaagupkymmel commented on #16
Maybe one of these refers to map ID or something? I can only test against featured games right now, which are all played on the same map. If someone could populate parser-spec repo, that would be great!

[2014-07-19 22:30] akuseru commented on #16
They don't (refer to map ID)

[2014-07-25 21:00] themasch commented on #17
I'm pretty sure that the 0x93 = new type, 0xB3 = same type thing is wrong because i've seen replays where the first player header starts at 0x10 with [ 0xb3 0x00 0xc3 0x4c 0x00 ]

I'll try to fix my parser and see if i get more information about this.

[update]
Most keyframes i've seen in the last games where of this 0xb3 0x00/0x01 0xc3 0x4c  type. The second byte seems to be changing most frequen

[2014-07-26 12:42] Divi commented on #17
`0x93` and `0xB3` are not constant. Since the patch 4.11 I found a few keyframes with other hex (see #15). I don't know why. Same for the next `0x00` or `0x01`.

Here the regex I use to found the header : `/C3(?:4B|4C)00(?:000000)?[A-Z0-9]{6}40[0-9]{2}00000040/`.

[2014-07-26 12:51] jaagupkymmel commented on #17
Take a look at https://gist.github.com/jaagupkymmel/8939b876dd164b71ad9f. It seems to make sense so far.

[2014-07-27 18:31] impulse opened #18 "Seems I'm not able to join a Custom Lobby Chat :S"
Been proramming a bit for a LoL XMPP Bot and found your wiki here :+1:
https://github.com/loldevs/leaguespec/wiki/XMPP
Can I get those Invitation ID's with the raw client or how did you guys find out?

[2014-07-27 18:42] Divi commented on #18
See #9 for more information about chat name (ID) generation, if it's what you're talking about.

[2014-07-27 18:45] ecklf commented on #18
Yeah I kinda saw how that works now (sry for that fast edits). I just wonder how you got the Invitation ID Itself.

[2014-07-30 14:15] Zero3 opened #19 "Error in documented keyframe player segment header"
https://github.com/loldevs/leaguespec/wiki/Keyframe-Player-Segment claims the following:

---

There are many possible sequences for the beginning of the header.

[code]
- **Marker #1** : can be `0x93` or `0xB3`
- **Marker #2** : can be `0x00` or `0x01`
- **Marker #3** : can be `0x4B` or `0x4C`

**Note:** when the #1 marker is `0x93`, there is three more `0x00` at the end, example : `93 01 C3 4B 1

[2014-07-30 14:51] Divi commented on #19
Yes sorry, maybe a wrong copy/paste. I'll edit this, thanks :+1:
I also found that the first marker can be `0xF4` or `0x44`, but it appears in only 1 per 100 games and for only one player, I don't know why.

[2014-07-30 14:51] #19 closed, assigned to Divi

[2014-07-30 15:46] themasch commented on #17
@jaagupkymmel at first glace this looks pretty good. I hope I'll find some time to check this. could be huge if thats correct an valid for all (more) headers. finally some structure!

[2014-07-30 20:54] Zero3 opened #20 "Another error in documented keyframe player segment header"
https://github.com/loldevs/leaguespec/wiki/Keyframe-Player-Segment claims the following:

---

[...] followed by the rest of the header. (the structure of this is consistent)

[code]

---

The 0x00 as byte 5 after the player number (just after the 0x40) appears to be wrong. I have a keyframe containing the following 13 bytes after the player number:

0x00 0x00 0x00 0x40 **0x1B** 0x01 0x00 0xA4 0xF

[2014-07-30 21:02] Zero3 opened #21 "Summoner Name charset not documented in keyframe specification"
https://github.com/loldevs/leaguespec/wiki/Keyframe-Player-Segment#summoner-name should specify a charset.

[2014-07-30 21:06] Zero3 commented on #21
It appears to be some Latin1 variant. (EDIT: But what about localized names on non-western servers?)

[2014-07-30 21:38] themasch commented on #20
yeah, most of this is just guessed or "not seen something else, so this might be it". Go ahead and change it  if you've seen other variants ;)

[2014-07-30 22:39] Divi commented on #20
Like said @themasch, most of these bytes are not static. See #15.
I'll update the wiki with dynamic and static parts when I have more time (maybe at the end of the next week).

[2014-07-30 22:39] #20 closed, assigned to Divi

[2014-07-30 22:42] Divi commented on #7
Well, what about now @themasch, @jaagupkymmel ?
I think that we let the repo as opensource, after 5 months. No ?

[2014-07-30 22:47] Zero3 commented on #20
Alright, I blanked out the relevant byte with 'XX' in the specs :).

[2014-07-30 22:47] Divi commented on #20
Thanks !

[2014-07-30 23:30] Zero3 opened #22 "Map rune IDs to runes"
https://github.com/loldevs/leaguespec/wiki/Keyframe-Player-Segment#rune-page contains examples of rune IDs, but we need to figure out how to map these into actual runes.

[2014-07-30 23:44] Zero3 commented on #22
Parsing the first two bytes of each rune entry as an unsigned integer seems to give rune ID's matching the official API data (see http://ddragon.leagueoflegends.com/tool/euw/en_US for example). Can anyone confirm?

[2014-07-30 23:52] Divi commented on #22
Confirmed, according to the [rune.json](http://ddragon.leagueoflegends.com/cdn/4.13.1/data/en_US/rune.json) :+1:

I don't know if missing runes (when the player is not level 30) are transformed into padding or just deleted. In this case, the length is variable.

[2014-07-30 23:58] Zero3 commented on #22
Nice. Since the last two bytes of each entry appear to be 0x00 all the time, we can probably assume that the ID is in fact 4 bytes long, leaving room for future expansion.

[2014-07-31 00:03] Divi commented on #22
If needed, runes are also available with the RTMP API, especially the [Spellbook service](https://github.com/loldevs/leaguespec/wiki/RTMP-Service-Methods#spellbookservice). The selected spellbook has the key `current` to `true`.

[2014-07-31 05:49] jaagupkymmel commented on #7
Yeah, it seems like we're leaving it open-source.

[2014-07-31 05:49] #7 closed, assigned to nobody

[2014-07-31 05:53] #9 closed, assigned to snowl

[2014-07-31 06:00] jaagupkymmel opened #23 "Website"
Should we create a simple website for leaguespec/loldevs? Some parts of the project are going along really slowly, this could serve the purpose of making it easier for new devs to join the project.

[2014-07-31 06:05] honux commented on #23
I don't make part on the original team, but honestly I don't see how this would improve the development.
At least for me, it seems that it will just create an unnecessary cost.

[2014-07-31 06:22] themasch commented on #23
it could be used for additional informations and communication with the outside work.
There are no additional costs if we use gh-pages first.

[2014-07-31 06:24] jaagupkymmel commented on #23
We could use a github.io page, there is no need for running any server-side logic. It could just be a simple landing page that explains what we do, why we do it and how to help us out.

[2014-07-31 06:30] themasch commented on #23
:+1:

[2014-07-31 06:31] honux commented on #23
Then it would be awesome :p

[2014-07-31 06:37] lukegb commented on #23
:+1: to this

Yeah - just whack up a GitHub Pages page and be done with it. It'll be great! There'll be fun, and laughter, _and cake_...

(yes, I'm still alive, just super busy right now)

Someone should make the loldevs.github.io repo.

[2014-07-31 07:28] #23 closed, assigned to nobody

[2014-08-05 00:21] Divi opened #24 "Keyframe killing spree has moved"
The killing spree data (triple kill, quadra kill & penta kill) has moved, and I don't have keyframe with quadra or penta kill.

If someone has a keyframe, please share it !
The previous keyframe (before the quadra/penta) will be great.

[2014-08-05 08:54] themasch opened #25 "Meeting Sept. 2014"
After our meeting last sunday i thought it would be a great idea to do these meetings at least once a month to bring everyone whos interested in sync with the current status of this project.
I'd like to use this issue to find a new date for the next meeting and collect topics to discuss besides general status updates.

The main problem on finding a date might be the different timezones ppl are liv

[2014-08-05 09:19] jaagupkymmel commented on #25
We shouldn't have a strict "once per month" schedule, rather a more flexible one. Other than that, I'm in.

[2014-08-05 09:29] themasch commented on #25
so just a "meeting when needed"?

[2014-08-05 09:30] vafrederico commented on #25
I would say at least a meeting per month, doesn't need to be strict to a
date, only to catch things up.

Att,
Vinícius Andrade Frederico
E-mail: vafrederico@gmail.com

2014-08-05 6:29 GMT-03:00 Mark Schmale notifications@github.com:

[2014-08-05 12:11] Divi commented on #25
Ok, but create an issue (and an email will be sent to the team) or a wiki page before each meeting, because I didn't know for the last Sunday.

[2014-08-05 12:16] jaagupkymmel commented on #25
Certainly. This meeting was actually supposed to take place this Saturday, but I misclicked and selected the wrong date in Doodle. There was already a fair bit of people online at the time it was scheduled, so I decided we will do it anyway.

[2014-08-05 13:43] Divi commented on #24
I done a game with bot in 1 v 5 to make a quadra/penta. So I've only one game with a penta and two with quadra.
- Current killing spree : offset `0x60`
- Double kill (no move) : offset `0x1C`
- Triple kill : offset `0x102`, so "Sight wards bought (pink)" should be at offset `unknown`
- Quadra kill : offset `0xAE`
- Penta kill : offset `0x9A`

and bonus : "Vision wards bought (green) (`0xFE`)" beco

[2014-08-05 13:57] Divi commented on #22
Added description in the keyframe page : https://github.com/loldevs/leaguespec/wiki/Keyframe-Player-Segment/_compare/75f68ed11c94b31d2e72990d6e4540124955b94b%5E...75f68ed11c94b31d2e72990d6e4540124955b94b

Can we close this ticket @Zero3 ?

[2014-08-05 14:14] themasch commented on #25
@Divi thats why i created that issue ;)

[2014-08-05 14:17] jaagupkymmel commented on #22
I don't think it's a 16-bit integer and 16-bit padding, rather a 32-bit integer.

[2014-08-05 14:22] Divi commented on #22
Good point, I edited the wiki.

[2014-08-05 14:42] themasch commented on #24
You got a penta in a bot game? How did you manage to make them teamfight so you get them all on the same place? :D

[2014-08-05 14:58] Divi commented on #24
:smile: I let them take my inhibitors and kill them in front of the nexus.

[2014-08-05 15:01] #24 closed, assigned to Divi

[2014-08-06 14:09] Zero3 opened #26 "Check how empty rune slots are represented"
At https://github.com/loldevs/leaguespec/wiki/Keyframe-Player-Segment#rune-page we need some specification about how empty rune slots are represented.

Maybe the respective integers are 0, maybe they are left out of the data and maybe something completely different happens. Someone needs to check and update the wiki page.

[2014-08-06 14:09] Zero3 commented on #22
Thanks @Divi !

I've created a separate issue for the open question regarding empty rune slots at #26.

[2014-08-06 14:09] #22 closed, assigned to nobody

[2014-08-06 14:15] Zero3 opened #27 "Mastery header specification needs a description"
Two binary segments are listed on https://github.com/loldevs/leaguespec/wiki/Keyframe-Player-Segment#header-1, but no description is provided. Such description would be appreciated. Are they two random examples of headers, the only two possible headers or something else entirely?

[2014-08-06 14:17] jaagupkymmel commented on #27
I believe this might not be a header, rather the player's summoner spells.

[2014-08-06 17:39] Divi commented on #26
@Zero3 empty runes are represented by `00 00 00 00`. If player hasn't rune page (below level 20), the part is full of `00 00 00 00`.

Here a decoded keyframe example : [keyframe 1 - #1609602760 (EUW).txt](http://snk.to/f-cdhiwkhv)
- Player `Legetimniy` has no rune (level 19).
- Player `Snifflum` has a few runes (level 24)
- Player `TheMrKunKun` has full runes (level 30 & ranked)

[2014-08-06 20:11] Zero3 commented on #26
Thanks @Divi - Added to the wiki page.

[2014-08-06 20:11] #26 closed, assigned to nobody

[2014-08-06 21:16] Zero3 opened #28 "Mastery padding specification needs an explanation"
The section at https://github.com/loldevs/leaguespec/wiki/Keyframe-Player-Segment#padding lacks an explanation. How do we know the amount of padding?

My initial guess would be that there always are 30 mastery slots in the data, even though not all of them are used (for example when several points are allocated towards the same mastery). The mastery IDs for the remaining slots are set to 0 as with

[2014-08-06 21:27] Zero3 commented on #28
On a related note, the `03 00` part of the mastery entry appears to be `00 00` for empty slots. I will make a careful guess that the '3' is a mastery "season number". I don't know if we had a new set of masteries every season, but if so, this would make sense.

[2014-08-06 23:39] Zero3 commented on #28
Besides what can reasonably be attributed to mastery points per above, there is exactly 250 additional "padding bytes" (all zero) before the item header starts. At least that is how the keyframe I'm currently working on looks.

[2014-08-07 10:50] demplays opened #29 "Chunk decrypt"
Hi, first of all great work on spectator related documentation.

I was wondering how advanced is chunk decryption going since your site Riftwalk seems to use it to get the stats in real time.
I'm currently developing an application (almost completed) to record and play games and would be great to decrypt in real time. I also have some experience of riot's data flux and implementation so fell free

[2014-08-07 10:55] jaagupkymmel commented on #29
From what I know, chunks are basicly dump of packets, so it shouldn't be too hard to figure out.

[2014-08-07 14:38] demplays commented on #29
Is there any structure defined yet besides https://gist.github.com/jaagupkymmel/8939b876dd164b71ad9f ?

[2014-08-07 16:43] jaagupkymmel commented on #29
I'm not sure that these bitflags apply to chunks.

[2014-08-07 16:46] honux commented on #29
Won't quote, but someone confirmed that they do apply.

[2014-08-12 00:14] demplays commented on #29
Well my main objective is to get kills (assists, positions, champions) from the spectator chunks. Or is it possible to get them from keyframes? I mean instant kills not stats every 60 seconds

[2014-08-12 00:15] Divi commented on #29
KDA are easy to find, just compare positions with the official Riot timeline data.

[2014-08-12 10:35] demplays commented on #29
will do, thanks

[2014-08-20 21:09] avborhanian commented on #28
It's 20 masteries in the offense tree, 19 in the defense tree, and 18 in the utility tree. Dedicating 5 bytes to each [ (20 + 19 + 18) \* 5  ] results in 285 bytes total. Add 8 for the header, and we're at 293, which is still a fair bit short of the 404 bytes dedicated to the section in total.

[2014-08-20 21:21] avborhanian commented on #27
You're definitely right about that. Looking at a few games, it looks like relationship is as follows:
244f3606 Ignite
a86e4906 Flash
1caf6403 Heal
95865e06 Smite
64134f00 Teleport
e4baa808 Exhaust
82b9cf0c Barrier
21746503 Clarity
95cc4a06 Ghost
eeaf870d Garrison
65678909 Clairvoyance
94204d06 Cleanse
a5b3c805 Revive

[2014-08-23 13:40] Divi opened #30 "RTMP third party client API will be banned"
See : https://developer.riotgames.com/discussion/riot-games-api/show/oklxAP21

**TL;DR:** Riot will block all RTMP third party API. The only way to retrieve game data will be with their official API, which is very poor at this time. Retrieve the spectating encryption key will be impossible. Maybe they will release an API with this data, I don't know.

[2014-08-23 14:39] jaagupkymmel commented on #30
http://www.reddit.com/r/leagueoflegends/comments/2easbn/riot_wants_any_3rd_party_applications_like/cjxpb3r

Apparently Riot will allow to continue downloading spectator data, so if they are using the same method that they are, we should be in the safe. Should confirm with a rioter tho.

[2014-08-23 14:45] Divi commented on #30
You're right, but the encryption key is not in the meta, it's in the RTMP API. And we won't be able to know the live game id.

[2014-08-23 14:47] #29 closed, assigned to nobody

[2014-08-23 14:50] jaagupkymmel commented on #25
So @themasch, can you organize a meeting?

[2014-08-23 15:27] lukegb commented on #30
From my reading: They're not blocking it, they're just going to start enforcing the don't-use-APIs-we-haven't-provided rule. They then went on (in edit 2) to explicitly spell out that _exclusively for spectating stuff_ you can retain this functionality and continue to use, for the time being, the RTMP API, since that's the only way to actually get the data you need to do that.

[2014-08-23 15:27] avborhanian commented on #30
Yeah, I thought it was okay because of this comment. "I meant, they are welcome to keep using it as they have been, as a solution until some future point where we can potentially bring this functionality into the API. This is less of an exception for a particular use case, and more of the point that what they are doing does not affect our platform in the way the more common scraping methods do and

[2014-08-23 15:32] avborhanian commented on #28
Actually, now thanks to the bitflags work, we know exactly how the padding is done.

Satan6 already posted this in the wiki, but the header for the runes, summoner spells, and masteries is
83
00
12 02 00 00 // [contentlength]
2A // [blocktype]
19 00 00 40 // Entity ID [blockparam]

And 212 is 530 bytes. 120 for the runes, 8 for the summoner spells, and as much as is needed for masteries. Rest is p

[2014-08-23 15:35] avborhanian commented on #8
Actually, I think the bottom section below turrets has more to deal with loading models and their placement for the game. Don't have a hundred percent proof, but Yonkey is listed twice as well as ShopMale, which are the models for the shopkeeper and his pet.

[2014-08-23 15:37] Divi commented on #30
I don't think so, they say OP.GG and lolking have exclusive API (private API), which has the spectator API.

[2014-08-23 16:53] avborhanian commented on #21
Just tried using the Korean server spectate rest service, and looking at the names, it looks like the charset used is UTF-8, which would be backwards compatible with ASCII. It's probably UTF-8 throughout.

[2014-08-24 07:52] jaagupkymmel commented on #30
@Divi source? Should I message a rioter about this (possibly RiotSargonas)?

[2014-08-24 11:13] Divi commented on #30
It was in the Reddit thread. Sargonas said big webites has moved on an "exclusive" API. I already send a message to Riot Sargonas, but no answer atm.

[2014-08-24 11:34] frostycpu commented on #30
@Divi @jaagupkymmel this: https://www.reddit.com/r/leagueoflegends/comments/2easbn/riot_wants_any_3rd_party_applications_like/cjxp2d3

I don't think he meant LoLKing uses an exclusive API, but rather use the official API for everything possible (meaning they only use RTMP Calls for current games).

[2014-08-26 08:02] themasch commented on #21
i'm pretty sure its UTF-8. Checked that months ago when I wrote the first docs, and I was pretty sure its UTF-8. Can't remember why I didn't wrote it down. Maybe there have been some non-utf8 chars?

[2014-08-26 08:03] themasch commented on #25
I can do. Theres a lot of progress in the libOL thing and we got huge steps in the leaguespec wiki, both thanks to @satan6. I'll start a doodle soon.

[2014-08-26 08:34] jaagupkymmel commented on #21
Seems to be UTF-8. Closing the issue for now, reopen this or open a new one if there is evidence to suggest that this is not the case.

[2014-08-26 08:34] #21 closed, assigned to nobody

[2014-08-28 09:31] themasch commented on #25
Okay, does anyone got suggestions for dates?
I think a saturday might be best so the 6. or the 13. might be possible.
What time would you suggest?

[2014-08-28 09:43] jaagupkymmel commented on #25
You can just add multiple times in doodle.

[2014-08-28 09:45] themasch commented on #25
Yeah, i know that. I just wanted to get rough range so i dont need to add all possible times :D

Okay: Heres the Doodle: http://doodle.com/bbht474rvwgsucyz

[2014-08-29 04:23] shalzuth opened #31 "Block decoding organization"
Would like if someone helped with presenting block info in a better way.
We are currently throwing stuff in here : https://github.com/loldevs/leaguespec/wiki/Chunk-Specification
satan06 added a table here : https://github.com/loldevs/leaguespec/wiki/List-of-blocktypes
I'm not in love with either way. Any good suggestion? Things are going to to get bloated if we continue this route.

[2014-08-29 15:38] honux commented on #31
I believe that the way I store the data locally is the best approach on this subject.
Since every data struct contains:
- Time;
- Data Length;
- Data Type;
- Data Owner;

And the only valuable information are the Data Type + Data Owner (at least for decoding), I store it this way:

| Data Type | Data Owner | Definition | Packet Structure | Notes |
| --- | --- | --- | --- | --- |
| 0x61 | 00 | Move

[2014-08-29 16:42] shalzuth commented on #31
What about for dynamic/complex packets like 0x61, to actually decode the move structure? See https://github.com/loldevs/leaguespec/wiki/Chunk-Specification#movement-commands-waypoints for the general decoding, or the unit update one?

[2014-08-29 23:00] sathorn6 commented on #31
Well, if something really gets too complicated you could always just link it to its own section. I think honux's format is good, only thing it's lacking is type information, like if something is a float or int.

[2014-09-05 19:22] sathorn6 commented on #31
I tried something [here](https://github.com/loldevs/leaguespec/wiki/Spectator-Packets). Not sure about putting structure in the table though, especially since the table gets really small in the wiki.

[2014-09-06 23:53] strangeglyph commented on #31
The table is getting very small, especially with long names (PKT_SynchVersionS2C_s & co). I moved some structure definitions further down the page, which looks better, but is a lot more scrolling work (Ideally we would have something like a small js app where one could look up packet data by id)

[2014-09-07 14:53] sathorn6 commented on #31
As i understand it now, the packets are the same as the S2C ones in the normal game protocol. So we should probably join our efforts somehow with [these IntWars guys](https://github.com/Elyotna/IntWars). They already have a lot more/better [understanding of the packets](https://github.com/Elyotna/IntWars/blob/master/gamed/include/Packets.h).

[2014-09-09 05:59] themasch commented on #25
Okay, I think we should do the meeting on Sept. 13. 19.00 CEST (UTC+2)

[2014-09-09 13:14] Divi commented on #25
:+1:

[2014-09-12 11:25] themasch commented on #25
I added a list of topics to the wiki. if you find something missing, please add it:
https://github.com/loldevs/leaguespec/wiki/Meeting-Summaries#saturday-september-13-2014

We also need some ppl for some topics, if you feel responsible, add your name ;)

[2014-09-13 16:37] Divi commented on #25
I cannot be there finally, could you write down a summary after the meeting please ? Thanks in advance :)

[2014-09-18 15:41] Divi commented on #30
**Update:** RiotShmick said :

---

## If your site is using RTMP, specator data, or other alternative sources than the API to power it, then yes, it will be in violation of the Terms of Service starting 10/1/14. The only exception is using spectator data to generate replay files. The data gathered from spectator data can not be used in other way.

So parsing the spectator files will be prohibed.

[2014-12-28 12:08] NitroXenon opened #32 "How to get the game id of the current game?"
I'm going to make a replay tool for Korean and Taiwan client. How can I get the game id and the ecryption key of the current game?

[2014-12-28 12:11] strangeglyph commented on #32
You need an RTMP call to
gameService.retrieveInProgressSpectatorGameInfo(String summoner).
That's how it works on most regions anyway. Garena might be doing
their own thing as usual.

[2014-12-28 12:34] NitroXenon commented on #32
lol but how can I do it in C#??

[2014-12-28 13:55] strangeglyph commented on #32
Either look for an RTMP library written in C# or write your own.
Existing libs:
- [Astralfoxy's RTMPsharp](https://github.com/astralfoxy/rtmp-sharp)

If you decide to roll your own, here's some docs to get you started:
- [AMF 1.0 spec](https://a248.e.akamai.net/f/1953/8974/2h/wwwimages.adobe.com/www.adobe.com/content/dam/Adobe/en/devnet/amf/pdf/amf-file-format-spec.pdf)
- [AMF 3.0 spec](https://a2

[2014-12-28 13:55] #32 closed, assigned to nobody

[2014-12-28 14:17] NitroXenon commented on #32
Is it need to login using the LoL account first?

[2014-12-28 14:18] strangeglyph commented on #32
Yes. You need to get through the login queue to get an auth token, and use that token to log into the rtmp servers

[2014-12-28 15:01] NitroXenon commented on #32
Oh I see. Thanks~

[2014-12-29 03:29] NitroXenon commented on #32
But there is another problem. I can't login to TW server using RTMP so I can't get any data.

Can I use a UdpClient to track the RTMP messages send form the server and the client? Is it work?

[2014-12-29 04:46] eddy5641 commented on #32
You have to connect with partner credentials, an illogical thing that garena requires for you to login.

[2014-12-29 15:30] MicahZoltu opened #33 "How to get Platform ID for in-progress game?"
The REST spectator API requires a Platform ID for most of the API calls.  Is there a deterministic way to figure out the platform from the game information or do they map directly to the various game regions (many to one, regions to platforms)?

I can make some educated guesses about which regions end up on which platform IDs, but the fact that many of the platforms are suffixed with a "1" suggest

[2014-12-29 16:06] Divi commented on #33
Regions are statics, here the list :

[code]

Changes can happen, but only if Riot change their servers.

**Note:** the port is very important for the client, even if it's `80`.

[2014-12-29 16:31] MicahZoltu commented on #33
So if I were to create a map of IP/Port to platform ID (from the list above), I could then use the observer IP/port from the game info to look up the platform?

[2014-12-29 16:33] Divi commented on #33
Yes.

[2014-12-29 16:36] MicahZoltu commented on #33
Thanks, I'll update the Wiki.

[2014-12-29 16:36] #33 closed, assigned to nobody

[2014-12-29 16:37] Divi commented on #33
Platform ID are already available : https://github.com/loldevs/leaguespec/wiki/REST-Service
But I don't know if the wiki is up to date...

[2015-01-02 01:13] hamhotline opened #34 "Blockparam content specification"
I'm currently building a chunk/keyframe parser, and recently I've run into a few cases where I'm unsure what the data is telling me and how I should be acting.

For example, recently I've been working on the portion of the parser dealing with item purchase events. For most of these events, the entity ID is the expected 4 byte format starting at 0x19000040 and incrementing up based on player number

[2015-01-02 05:51] hamhotline opened #35 "General Binary Format Header Change"
Looks like Riot changed the specs for the standard block structure in the latest patch, as far as I can tell. The `type` byte now is 2 bytes, rather than one, based on some quick investigation. Or, perhaps, Riot added another byte with unknown information.

My guess is that they changed the type byte to be 2 bytes for flexibility, as all of the header blocks I've manually checked with type bytes h

[2015-01-06 19:59] someone32 commented on #35
I've had some progress, leave your contact so we can share some data.

[2015-01-07 00:50] ryanms15 commented on #35
skype: hamhotline
email: hamhotline@gmail.com

[2015-01-07 12:32] themasch commented on #35
We'd love if you'd share the results & informations with the loldevs project.
Feel free to join our IRC Chat @ freenode.
Currently the project is kind of sleeping but that hopefully changes in the future again.
http://loldevs.github.io/#contributing

[2016-11-30 10:30] joelssk opened #36 "Joining a Club Chatroom"
Any idea on how to get into a club chatroom? The rooms listed here don't seem to cover it.

[2019-04-21 23:56] #31 closed

[2019-08-27 07:03] #18 closed

[2020-07-02 17:26] doivosevic commented on #35
Hey @themasch @hamhotline is there an active community which parses .rofl files to extract stats n stuff?

[2020-07-03 09:15] themasch commented on #35
I do not know of any. Lost track of all this a few years ago shortly after I stopped playing league. Good look finding one, let us know!

[2020-07-10 14:19] Kungitoo commented on #35
Does anyone by any chance have an old replay file on which some unpack script worked? I'd really like to first have something working before I try to update the code to their latest format which obviously changed many times

[2020-07-10 15:46] Kungitoo opened #37 "Can someone provide an old .rofl file which had the values as the spec says?"
I would like to first be able to parse a .rofl file which would show me the layout as in the spec before I start looking into what changed in the spec. Is there any chance you guys have some old replay files laying around?

[2020-07-13 09:25] doivosevic commented on #34
I know you guys worked some years ago with the .rofl file parser.
Is there any chance you might be willing to share the code of the parser?
It would mean a lot!

[2020-07-13 10:00] strangeglyph commented on #34
libOL was our reference implementation, iirc: https://github.com/loldevs/libOL

[2020-07-19 22:58] doivosevic commented on #35
Well now I can finally confirm that to me it also seems the type byte is 2 bytes but I'm getting types which have both bytes with values
![image](https://user-images.githubusercontent.com/6378638/87887303-1d740e80-ca24-11ea-87f9-097e6f935699.png)

[2020-07-20 16:44] doivosevic commented on #15
These completely changed from what I see. I cannot find these patterns at all in the latest unpacked .rofl files if I'm looking at this correctly. Are these supposed to be in keyframes, right?